<!DOCTYPE html>
<html lang = "en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a class = "head-title" href="/">Tech Blog: A Place for Tech Opinions </a>
      </h1>
      <nav>
          <a href = "/login">login</a>
          <a href = "/signup">sign up</a>
          <a href = "/logout" id = "logout">logout</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
<script src = "/javascript/logout.js"></script>
</body>
</html>