<!DOCTYPE html>
<html lang = "en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a class = "head-title" href="/">Tech Blog: A Place for Tech Opinions </a>
      </h1>
      <nav>
        {{#unless loggedIn}}
          <a href = "/login">login</a>
          <a href = "/signup">sign up</a>
          {{/unless}}
          {{#if loggedIn}}
          <a href = "/logout" id = "logout">logout</a>
          <a href = "/dashboard" id = "dashboard">dashboard</a>
          {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      &copy Tech-Blog, 2020. Thanks for visiting!
    </footer>
  </div>
{{#if loggedIn}}
<script src = "/javascript/logout.js"></script>
{{else}}
<script src = "/javascript/login.js"></script>
{{/if}}
</body>
</html>