<section>
    <h2 class = "new-post-title">Create New Post</h2>
    <div>
        <form class = "new-post-form">
            <div>
                <label for "post-title">Title</label>
                <input type = "text" id = "post-title" class = "new-post-title" name = "post-title"/>
            </div>
            <div>
                <label for "post-text">Post Text</label>
                <textarea id="post-text" name = "post-text" class = "new-post-text" class = "text"></textarea>
            </div>
            <div>
                <button type = "submit" class = "edit-button">Create</button>
            </div>
        </form>
    </div>
</section>
{{#if posts.length}}
<section>
<h2 class = "your-posts">Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
  </ul>
</section>
{{/if}}
<script src = "/javascript/add-post.js"></script>