<form class = "signup-form">
    <div>
        <label for = "username-signup">username:</label>
        <input type = "text" id = "username-signup"/>
        <label for= "password-signup">password (6 characters):</label>
        <input type="password" id="password-signup"/>
        <label for="first_name">first name</label>
        <input type = "text" id="first-name-signup"/>
        <label for = "last-name">last name</label>
        <input type = "text" id = "last-name-signup"/>
        <label for = "email">email</label>
        <input type = "email" id = "email-signup"/>
    </div>
    <button type = "submit" class = "login-button">submit</button>
</form>
<script src = "/javascript/signup.js"></script>