* {
    box-sizing: border-box;
}

header {
    background-color: paleturquoise;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 3px solid darkgrey;
}

.head-title {
    text-decoration: none;
    font-size: 20px;
    color: darkslategray
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

.post-title {
    font-style: italic;
    font-size: 90%;
    color: darkslateblue; 
    margin-left: 50px;
    margin-top: 15px;
}

.line-item {
    margin-left: 50px;
}

.post-text {
    color: black;
    margin-left: 50px;
    margin-top: -10px;
}

.post-name {
    font-style: italic;
    font-size: 80%;
     color: darkgrey;
     margin-left: 50px;
     margin-top: -12px;
}

.comment {
    font-size: 90%;
    font-style: italic;
    color: blueviolet;
    margin-top: -40px;
    margin-left: 50px;
}

.meta {
    font-size: 80%;
    font-style: italic;
    margin-left: 140px;
    margin-bottom: 10px;
}

.text {
    margin-left: 140px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: bold;
}

textarea {
    width: 400px;
    height: 70px;
}

form {
    text-align: center;
    display: table;
    margin: 20px auto;
}

.add-comment-form {
    text-align: left;
    display: table;
    margin: 20px 0 20px 140px;
}

.comment-button {
    text-align: center;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    width: 80px;
    height: 35px;
    font-size: 120%;
    margin-left: 160px;
    margin-top: 10px;
}

.login-button {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    width: 80px;
    height: 35px;
    font-size: 120%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px 20px;
    margin: 8px;
}

input:focus {
    border: 3px solid #555;
}

footer {
    text-align: center;
    font-size: 100%;
    font-style: italic;
    position: fixed;
    left: 46%;
    bottom: 0;
    padding-bottom: 40px;
    color: royalblue
}